jar_file:/Users/sandeep.kasaragod/Documents/GitHub/GLUE-GUI-build/glue-gui-v1/glue_jar_files/gluetools-core-1.1.120-SNAPSHOT.jar
conf_file:/Users/sandeep.kasaragod/Documents/GitHub/GLUE-GUI-build/glue-gui-v1/glue_jar_files/gluetools-config.xml
db:/Users/sandeep.kasaragod/Documents/GitHub/GLUE-GUI-build/glue-gui-v1/glue_jar_files/ncbi_rabv_glue.sql
